// HEADINGS
//
// Modular scales are your friend, my friend. Use them to set your heading sizes:
// http://modularscale.com  |  https://vimeo.com/17079380


h1,
.h1 {
  @include font-size(60, $line*2.5);
  font-family: $serif;
  font-weight:$extrabold;
  margin-bottom:rem($line*3);

  // Use for header sub-elements
  span,
  small {
    font-size: 0.5em;
  }
}
h2,
.h2 {
  @include font-size(30, $line*1.25);
  font-family: $sans;
  font-weight:$semibold;
  margin-top:rem($line);
  margin-bottom:rem($line/2);

  span,
  small {
    font-size: 0.5em;
  }

}
h3,
.h3 {
  @include font-size;
  font-family: $sans;
  font-weight:$bold;
  margin-top:rem($line);

  span,
  small {
    font-size: 0.5em;
  }
}
h4,
.h4 {
  @include font-size;
  font-family: $sans;
}
h5,
.h5 {
  @include font-size;
  font-family: $sans;
}
h6,
.h6 {
  @include font-size;
  font-family: $sans;
}