// LISTS

ul,
ol,
dl {
  margin-bottom:rem($line/2);
  padding-left:rem($line);

  @media #{$small} {
    padding-left:0;
  }

  ul,
  ol {
    padding-left: rem($line);
  }
}

dt {
  font-weight: $bold;
}
dd {
  margin-bottom:rem($line/2);
}