<header class="row">
  
  <div class="secondary-content pull-left">
    <div class="logo"><img src="/img/logo.svg" alt="Live Wires logo" /></div>
  </div>
  <h1 class="primary-content pull-right">Try on a design framework that&nbsp;fits.</h1>
  <nav class="secondary-content horizontal-nav">
    <ul>
      <li><a href="/guide/">Live Wires Guide</a></li>
      <li><a href="/example/">Example</a></li>
      <li><a href="https://github.com/louderthanten/livewires">Github</a></li>
    </ul>
  </nav>
  <aside class="secondary-content callout pull-left">
    <div class="content reverses">
      <h2>Get Live Wires now</h2>
      <p><a href="https://github.com/louderthanten/livewires/archive/master.zip" class="button button--blue">Download it</a></p>
      <p>Get familiar with our <a href="/guide/">documentation</a>.</p>
    </div>
  </aside>
</header>