// FONTS

@font-face {
  font-family: 'TrasandinaWeb';
  src:
    url('/fonts/trasandinabook.woff2') format('woff2'),
    url('/fonts/trasandinabook.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TrasandinaWeb';
  src:
    url('/fonts/trasandinabook-italic.woff2') format('woff2'),
    url('/fonts/trasandinabook-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'TrasandinaWeb';
  src:
    url('/fonts/trasandinamedium.woff2') format('woff2'),
    url('/fonts/trasandinamedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TrasandinaWeb';
  src:
    url('/fonts/trasandinabold.woff2') format('woff2'),
    url('/fonts/trasandinabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TrasandinaWeb';
  src:
    url('/fonts/trasandinabold-italic.woff2') format('woff2'),
    url('/fonts/trasandinabold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

