// HEADER

.header {
  padding-top:0;
  padding-bottom:0;
 // background-color:$black;
 // background-image:url('/img/livewires/text.png');
 // background-size: 12px 12px;
 // background-position:left 1px;
  //background-attachment: fixed;

  nav {
    margin-top:rem($line/2);
    float:left;
    width:48%;
    font-size:0.8em;
  }

  h1 {
    clear:both;
  }
}
.logo {
  width:52%;
  margin: rem($line/2 0);
  float:left;
}

@media #{$small} {
  .header {
    padding-top:rem($line);
    nav {
      width:100%;
      float:none;
    }
  }
  .logo {
    width:100%;
    margin:rem($line 0 0 0);
    float:none;
  }
}